[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "tools/gnome-terminal-colors-solarized"]
	path = tools/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "tools/fonts/fonts"]
	path = tools/fonts/fonts
	url = https://github.com/powerline/fonts.git
[submodule "tools/fonts/nerd-fonts"]
	path = tools/fonts/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
